<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <!--  <title th:text="${'Breach Report Co Sso ' + cosso.crn}"></title>-->
  <meta name="AppVersion" content="16.0000"/>
  <meta name="Company" content="National Probation Service"/>
  <style type="text/css">
    @page { size: 21cm 29.7cm; margin-left: 1.59cm; margin-right: 1.32cm; margin-top: 2.64cm; margin-bottom: 1.25cm }
    span { font-family: Arial, serif;}
    p { margin-top: 0;
      margin-bottom: 0;
      font-size: 11pt }

    body { margin: 0; padding-bottom: 25mm; }
  </style>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
<div>
  <p
    style="border:0.75pt solid #000; padding:2pt 4pt; font-size:14pt; background-color:#800080; color:#fff; font-weight:bold;">
    BREACH REPORT &ndash; Community Orders and Suspended Sentence Orders</p>
  <br/>
  <br/>

  <p></p>
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Details of Failure to Comply including Dates:</p>
  </div>
  <table>
    <tbody>
    <tr th:each="contact, iterStat: ${cosso.cossoContactList}">
      <td th:text="${contact.contactTypeDescription}
        + ', '
        + (${contact.contactDate != null}
            ? ${#temporals.format(contact.contactDate, 'dd/MM/yyyy')}
            : '-')
        + ', '
        + ${contact.contactOutcome}">
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>

  <p></p><!-- Section 1 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 1: Details of the Offender</p>
  </div>
  <table style="width:100%; border-collapse:collapse; border:0.75pt solid #000;">
    <tbody>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Full Name</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${cosso.titleAndFullName}">{OM full name}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Date of Birth</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${#temporals.format(cosso.dateOfBirth, 'dd/MM/yyyy')}">{Date of Birth}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Address</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span>
          <div th:if="${cosso.postalAddress != null}">
       <p style="margin: 0;"><span th:if="${cosso.postalAddress.officeDescription != null}"
                                   th:text="${cosso.postalAddress.officeDescription}">{workpostalAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.buildingName != null}"
                                          th:text="${cosso.postalAddress.buildingName}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.addressNumber != null}"
                                          th:text="${cosso.postalAddress.addressNumber}">{postalAddress.addressNumber}</span><span
                th:if="${cosso.postalAddress.addressNumber != null}"> </span><span
                th:if="${cosso.postalAddress.streetName != null}"
                th:text="${cosso.postalAddress.streetName}">{postalAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.district != null}"
                                          th:text="${cosso.postalAddress.district}">{postalAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.townCity != null}"
                                          th:text="${cosso.postalAddress.townCity}">{workAddpostalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.county != null}"
                                          th:text="${cosso.postalAddress.county}">{postalAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.postalAddress.postcode != null}"
                                          th:text="${cosso.postalAddress.postcode}">{worpostalAddress.postcode}</span></p>
          </div>
        </span>
      </td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Phone Number</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span
          th:text="${#strings.isEmpty(cosso.telephoneNumber) ? cosso.mobileNumber : cosso.telephoneNumber + ', ' + cosso.mobileNumber}">
          {PoP Phone}, {PoP Mobile}
        </span>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">CRN</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${cosso.crn}">{CRN}</span></td>
    </tr>
    </tbody>
  </table>
  <br>

  <p></p><!-- Section 2 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 2: Details of the Responsible Officer</p>
  </div>
  <table style="width:100%; border-collapse:collapse; border:0.75pt solid #000;">
    <tbody>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Full name of RO</td>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;"><span
        th:text="${cosso.roTitleAndFullName}">{roTitleAndFullName}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Probation Region</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${cosso.probationArea}">{Probation Region}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Office address</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span>
          <div th:if="${cosso.workAddress != null}">
       <p style="margin: 0;"><span th:if="${cosso.workAddress.officeDescription != null}"
                                   th:text="${cosso.workAddress.officeDescription}">{workAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.buildingName != null}"
                                          th:text="${cosso.workAddress.buildingName}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.addressNumber != null}"
                                          th:text="${cosso.workAddress.addressNumber}">{workAddress.addressNumber}</span><span
                th:if="${cosso.workAddress.addressNumber != null}"> </span><span
                th:if="${cosso.workAddress.streetName != null}"
                th:text="${cosso.workAddress.streetName}">{workAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.district != null}"
                                          th:text="${cosso.workAddress.district}">{workAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.townCity != null}"
                                          th:text="${cosso.workAddress.townCity}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.county != null}"
                                          th:text="${cosso.workAddress.county}">{postalAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${cosso.workAddress.postcode != null}"
                                          th:text="${cosso.workAddress.postcode}">{workAddress.postcode}</span></p>
          </div>
        </span>
      </td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Phone Number</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${cosso.roTelephoneNumber}">{Probation Region}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top; font-weight:bold;">Email Address</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:0 5pt; vertical-align:top;">
        <span th:text="${cosso.roEmailAddress}">{RO Email}</span></td>
    </tr>
    </tbody>
  </table>
  <br>

  <p></p><!-- Section 3 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 3: Details of original offence</p>
  </div>
  <table style="width:100%; border-collapse:collapse; border:0.75pt solid #000;">
    <tbody>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">Original offence</td>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;"><span
        th:text="${cosso.mainOffence}">{Main offence}</span>
      </td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">Original Additional Offence(s)</td>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; white-space: pre-line"><span
        th:text="${cosso.additionalOffence}">{Additional offence}</span>
      </td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">Sentencing Court</td>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <span th:text="${cosso.sentencingCourt}">{Sentencing Court}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding:5pt; vertical-align:top; font-weight:bold;">Date of sentence</td>
      <td colspan="3" style="border:0.75pt solid #000; padding:5pt; vertical-align:top;">
           <span th:if="${cosso.sentenceDate != null}"
                 th:text="${#temporals.format(cosso.sentenceDate, 'dd/MM/yyyy')}"></span>
        <span th:unless="${cosso.sentenceDate != null}">-</span></td>
    </tr>
    <tr>
      <td style="width:47%; border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">Sentence
        imposed
        (include length of custodial period if an SSO)
      </td>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <p style="margin: 0;"><span th:text="${cosso.sentenceType}">{Sentence Type}</span></p>
        <p style="margin: 0;"><span th:text="${cosso.sentenceLength + ' ' + cosso.lengthUnits}">{Sentence Length}</span></p>
        <p style="margin: 0;" th:if="${cosso.suspendedCustodyLength}"><span th:text="'Suspended Custody Length '
          + ${cosso.suspendedCustodyLength}">{Suspended Custody Length}</span></p>
        <p style="margin: 0;"><span th:text="${cosso.secondLength}">{Second Length}</span></p>
      </td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">
        Requirements imposed
      </td>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <th:block th:each="requirement : ${cosso.requirementList}">
          <p style="margin: 0 0 6px 0;">
        <span th:text="${requirement.requirementTypeMainCategoryDescription + ' ' +
                        requirement.requirementTypeSubCategoryDescription}">
          Requirement Type
        </span>
            <br/>
            <span th:text="'Length: ' + ${requirement.requirementLength}">
          Requirement Length
        </span>
            <br/>
            <span th:if="${requirement.requirementSecondLength}"
                  th:text="'Second length: ' + ${requirement.requirementSecondLength}">
          Requirement Second Length
        </span>
          </p>
        </th:block>
      </td>
    </tr>
    </tbody>
  </table>
  <br>

  <p></p><!-- Section 4 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 4: Amendments to the order (including previous breaches, where there has been no breaches, please write
      ‘none’)</p>
  </div>
  <table style="width:100%; border-collapse:collapse;">
    <tr>
      <th style="border:0.75pt solid #000; padding:4pt; text-align:left;">
        Details of the amendment
      </th>
      <th style="border:0.75pt solid #000; padding:4pt; text-align:left;">
        Reason for the amendment
      </th>
      <th style="border:0.75pt solid #000; padding:4pt; text-align:left;">
        Date made
      </th>
    </tr>
    <tr th:each="amendment : ${cosso.amendments}">
      <td style="border:0.75pt solid #000; padding:4pt; vertical-align:top;"
          th:text="${amendment.amendmentDetails}">
        &lt;Details&gt;
      </td>
      <td style="border:0.75pt solid #000; padding:4pt; vertical-align:top;"
          th:text="${amendment.amendmentReason}">
        &lt;Reason&gt;
      </td>
      <td style="border:0.75pt solid #000; padding:4pt; vertical-align:top;"
          th:text="${#temporals.format(amendment.amendmentDate, 'dd/MM/yyyy')}">
        &lt;Date Made&gt;
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(cosso.amendments)}">
      <td colspan="3"
          style="border:0.75pt solid #000; padding:4pt; font-style:italic;">
        none
      </td>
    </tr>
  </table>
  <br>

  <p></p><!-- Section 5 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 5: Details of Breach</p>
  </div>
  <table style="width:100%; border-collapse:collapse;">
    <tbody>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">
        Why is the offender in breach?
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <span th:text="${cosso.whyInBreach}">{Why in breach?}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">
        What steps have been taken to prevent this breach?
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <span th:text="${cosso.stepsToPreventBreach}">{Steps to prevent breach}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">
        Compliance with the Order to date.
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <span th:text="${cosso.complianceToDate}">{compliance to date}</span></td>
    </tr>
    <tr>
      <td style="border:0.75pt solid #000; padding: 5pt; vertical-align:top; font-weight:bold;">
        Has the risk of serious harm changed since the Order was imposed?
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <span th:text="${cosso.riskOfHarmChanged != null and cosso.riskOfHarmChanged ? 'Yes' : 'No'}">{compliance to date}</span>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <p style="margin: 0; padding-bottom: 5px">
          <span th:text="${cosso.riskHistory}"></span>
        </p>
        <p style="">
          <span th:text="${cosso.confirmEqualities} ? '☑' : '☐'"></span>
          I confirm that equalities and diversity information has been considered as part of preparing the report and
          recommendation.
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <br>

  <p></p><!-- Section 6 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 6: Recommendation</p>
  </div>
  <table style="width:100%; border-collapse:collapse;">
    <tbody>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <p style="margin: 0;"><span th:text="${cosso.recommendations}">{Recommendations}</span></p>
        <br>
        <p style="margin: 0;"><span th:text="${cosso.supportingComments}">{Supporting Comments}</span></p>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <p style="margin: 0;"><span style="font-weight:bold;">Signed: </span>
          <span th:text="${cosso.signature}">{Signed}</span></p>
      </td>
    </tr>
    </tbody>
  </table>
  <br>

  <p></p><!-- Section 6 -->
  <div style="border:0.75pt solid #000;">
    <p
      style="padding:2pt 4pt; margin:0; padding-bottom: 10px; background-color:#ccc; font-weight:bold; font-size:18px;">
      Section 7: Witness availability – dates of pre-booked leave for Responsible Officer and any other witnesses over
      the next 12 weeks.</p>
  </div>
  <table style="width:100%; border-collapse:collapse;">
    <tbody>
    <tr>
      <td colspan="3" style="border:0.75pt solid #000; padding: 5pt; vertical-align:top;">
        <p style="margin: 0;"><span th:text="${cosso.witnessAvailability}">{Witness Availability}</span></p>
        <br>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
</body>
